.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-form {
  margin-bottom: 20px;
  text-align: center; /* Додаємо вирівнювання по центру */
}

.search-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-form button {
  margin-top: 10px; /* Додаємо відступ від інпуту */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #0056b3;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.photo-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.photo-card img {
  width: 100%;
  height: auto;
}

.info {
  margin-top: 10px;
}

.info-item {
  margin-bottom: 5px;
}

.load-more {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #0056b3;
}